auth0-python==4.7.0
bcrypt==4.1.2
black==23.9.1
bs4==0.0.1
celery==5.3.4
docstring-parser==0.15
email-validator==2.1.0.post1
fastapi-auth0==0.5.0
fastapi-sso==0.10.0
flake8==6.1.0
Flask-Cors==4.0.0
Flask-DB==0.4.0
Flask-DebugToolbar==0.13.1
Flask-Secrets==0.1.0
Flask-Static-Digest==0.4.0
greenlet==3.0.3
gunicorn==21.2.0
httptools==0.6.1
isort==5.12.0
json-streamer==0.1.0
langchain==0.0.352
llama-index==0.9.21
passlib==1.7.4
pip==23.3.2
psycopg==3.1.10
pydantic-settings==2.1.0
pytest-cov==4.1.0
python-multipart==0.0.6
redisvl==0.0.5
uvicorn==0.25.0
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
